absl-py==0.2.0
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
atari-py==0.1.1
bleach==3.3.0
certifi==2018.8.13
cffi==1.11.4
chardet==3.0.4
cryptography==2.2.2
cycler==0.10.0
cymem==1.31.2
Cython==0.27.3
cytoolz==0.8.2
decorator==4.2.1
dill==0.2.8.2
entrypoints==0.2.3
fastcache==1.0.2
ftfy==4.4.3
future==0.16.0
gast==0.2.0
gitdb2==2.0.3
GitPython==2.1.10
glfw==1.5.1
gmpy2==2.0.8
grpcio==1.11.0
gym==0.10.4
h5py==2.8.0
html5lib==0.9999999
idna==2.7
imageio==2.2.0
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.33.8
jupyterlab-launcher==0.11.2
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Lasagne==0.1
line-profiler==2.1.2
llvmlite==0.23.2+1.g67a89c7
lockfile==0.12.2
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mkl-fft==1.0.0
mkl-random==1.0.1
mpi4py==2.0.0
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.4.8
mujoco-py==1.50.1.43
murmurhash==0.28.0
namedlist==1.7
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.3.1
numba==0.38.1+1.gc42707d0f.dirty
numpy==1.14.3
olefile==0.45.1
opencv-python==3.4.0.12
pandocfilters==1.4.2
parso==0.1.1
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
plac==0.9.6
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pycparser==2.18
pyglet==1.3.1
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.13
pyzmq==16.0.3
qtconsole==4.3.1
regex==2017.11.9
requests==2.19.1
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.3
spacy==2.0.11
sympy==1.1.1
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.3
thinc==6.10.2
toolz==0.9.0
torch==0.3.1.post2
torchfile==0.1.0
torchvision==0.2.0
tornado==4.5.3
tqdm==4.23.4
traitlets==4.3.2
ujson==1.35
urllib3==1.23
visdom==0.1.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
wrapt==1.10.11
